<form [formGroup]="newFormGroup" (ngSubmit)="onSubmit(newFormGroup.value)">
    <div class="container" style="width: 30vw;">
        <br>
        <div class="form-group">
            <label for="SDT">Số điện thoại</label>
            <input class="form-control" formControlName="SDT">
        </div>
        <div class="form-group">
            <label for="DiaChi">Địa chỉ</label>
            <input class="form-control" formControlName="DiaChi" >
        </div>
        <div class="form-group">
            <label for="FirstName">Họ</label>
            <input class="form-control" formControlName="FirstName"  >
        </div>
        <div class="form-group">
            <label for="LastName">Tên</label>
            <input class="form-control" formControlName="LastName"  >
        </div>
        <div class="form-group">
            <label for="Name">Tên đăng nhập</label>
            <input class="form-control" formControlName="UserName"  >
        </div>
        <div class="form-group">
            <label for="Name">Quyền</label>
            <input class="form-control" formControlName="Quyen"  >
        </div>
        <div class="form-group">
            <label for="Name">Mật khẩu cũ</label>
            <input class="form-control" formControlName="Password" >
        </div>
        <div class="form-group">
            <label for="Name">Mật khẩu mới</label>
            <input class="form-control" formControlName="PasswordNew" >
        </div>
        <div class="form-group" style="justify-content:center;display: flex;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>